@import '../../styles/variables.scss';

.custom-paginate-container {
    display            : flex;
    align-items        : center;
    justify-content    : center;
    gap                : 12px;
    margin             : 12px auto;
    // border-radius   : 30px;
    // padding         : 6px 12px;
    // background-color: white;
    // width           : fit-content;
    // box-shadow      : $card-boxshadow;
    // margin-top      : 30px;

    .page-item,
    .page-arrow {
        margin       : auto 4px;
        color        : rgba(0, 0, 0, 0.87) !important;
        border-radius: 50%;

        &.active {
            background-color: rgba(0, 0, 0, 0.274);
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
            cursor          : pointer;
        }

        &.disabled {
            display: none;
        }

        .link-arrow,
        .page-link {
            font-size  : 18px;
            display    : block;
            padding    : 14px 18px;
            line-height: 16px;
            color      : rgba(0, 0, 0, 0.87) !important;

        }

        .arrow {
            &::before {
                position    : relative;
                /* top      : 3pt; Uncomment this to lower the icons as requested in comments*/
                content     : '';
                /* By using an em scale, the arrows will size with the font */
                display     : inline-block;
                width       : 0.4em;
                height      : 0.4em;
                border-right: 0.12em solid rgba(0, 0, 0, 0.87);
                border-top  : 0.12em solid rgba(0, 0, 0, 0.87);
            }

            &.left {
                transform: rotate(-135deg) translate(-50%);
            }

            &.right {
                transform: rotate(45deg);
            }
        }

        &.disabled {
            pointer-events: none;

            .arrow::before {
                border-right: 0.12em solid rgba(0, 0, 0, 0.43);
                border-top  : 0.12em solid rgba(0, 0, 0, 0.43);
            }

            &:hover {
                background-color: transparent;
                cursor          : default;
            }
        }
    }
}